body {
  background-color: #282c34;
  color: white;
}
.App {
  text-align: center;
}

main {
  width: 60vw;
  height: 75vh;
  margin: auto;
  padding: 2rem;
  background-color: rgb(71, 67, 80);
  border-radius: 3rem;
}

.screen {
  margin: 1rem;
  background-color: antiquewhite;
  height: 4rem;
}

.buttons {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
}